.logo 
{
 width: 100px;
 height: 100px;
 background-size: cover;
 background-image: url("logo_barwne.png"); 

 animation-name: monochromatic;
 animation-duration: 2s;
 animation-iteration-count: infinite;

 transition: transform 2s;
}
.logo:hover
{
    transform: scale(2);
}
.rotating-logo 
{
    width: 100px;
    height: 100px;
    background-image: url("logo_barwne.png");
    animation-name: monochromatic;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-size: cover;
    transition: transform 2s;
  }
  .rotating-logo:hover 
  {
    transform: scale(2) rotate(360deg);
  }

@keyframes monochromatic 
{
 0% {background-image: url("logo_monochromatyczne.png");}
}